<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SMB 09-0024</title>
</head>
<body>
    <div class="container border border-dark">
        <h6 class="h6">SMB 09-0024</h6>
        <h6 class="text-center border h6">90% Furnace Secondary Heat Exchanger Inspection Certificate</h6>
        <p class="text-center border">Fax to Warranty Administration at (860)998-2941 or e-mail to admin.sams@carrier.utc.com with SMB09-0022 in subject line. A copy of this certificate must also be attached to or held with the part.</p>
            
        <div class="row">
            <div class="col-md-4 border form-control">SCA(s)</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Customer Name</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Customer Address</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Customer Phone</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 border form-control-sm">Model Number</div>
            <div class="col-md-3 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-3 border form-control-sm">Serial Number</div>
            <div class="col-md-3 border form-control-sm">
                <input type="text" class="form-control"></input></div>
        </div>
        <h6 class="h6 text-center border">Combustion Test Checklist</h6>
        <div class="row">
            <div class="col-md-3 border form-control-">CO Reading-Reqired</div>
            <div class="col-md-8 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-1 border form-control">ppm</div>
        </div>
        <div class="row">
            <div class="col-md-3 border form-control">Excess air level</div>
            <div class="col-md-8 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-1 border form-control">%</div>
        </div>
         <h6 class="h6 text-center border">Installation Checklist - check all areas examined per SMB09-0022</h6>
         <div class="row">
            <div class="col-md-4 border form-control-sm">Venting
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Condensate Drain
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Pressure Switch Hoses
                <input type="checkbox" class="float-right"></div>
         </div>
        <div class="row">
            <div class="col-md-4 border form-control-sm">Start-up
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Propane Conversion
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Thermostat Set Up
                <input type="checkbox" class="float-right"></div>
         </div>
        <div class="row">
            <div class="col-md-4 border form-control-sm">Saftey Control Check
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Accessories
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Propane Conversion
                <input type="checkbox" class="float-right"></div>
        </div>
            <h6 class="h6 text-center border"> </h6>
            <h6 class="h6 text-center border">Maintenance Items - check all items cleaned or examined per SMB09-0022</h6>
        <div class="row">
            <div class="col-md-4 border form-control-sm">Air Filter(s)
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Blower Motor/Wheel
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Burners/Igniter
                <input type="checkbox" class="float-right"></div>
         </div>
        <div class="row">
            <div class="col-md-4 border form-control-sm">Primary Heat Exchanger
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Secondary Heat Exchanger
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">Electrical Connections
                <input type="checkbox" class="float-right"></div>
         </div>
        <div class="row">
            <div class="col-md-4 border form-control-sm">Other Tubing/Hoses
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">
                <input type="checkbox" class="float-right"></div>
            <div class="col-md-4 border form-control-sm">
                <input type="checkbox" class="float-right"></div>
         </div>
         <h6 class="h6 text-center border">After Installation and Maintenance items corrected- Combustion retest</h6>
        <div class="row">
            <div class="col-md-3 border form-control-">CO Reading-Reqired (2nd) test</div>
            <div class="col-md-8 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-1 border form-control">ppm</div>
        </div>
        <div class="row">
            <div class="col-md-3 border form-control">Excess air level (2nd) test</div>
            <div class="col-md-8 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-1 border form-control">%</div>
        </div>
        <h6 class="h6 text-center border">Visual Inspection of Secondary Heat Exchanger</h6>
        <textarea class="form-control border" placeholder="Observations from visual inspection of heat exchanger"></textarea>
        <p class="text-center border">If furnace is replaced, provide <strong> replacement</strong> model and serial number</p>
        <div class="row">
            <div class="col-md-3 border form-control-sm">Model Number</div>
            <div class="col-md-3 border form-control-sm">
                <input type="text" class="form-control"></input></div>
            <div class="col-md-3 border form-control-sm">Serial Number</div>
            <div class="col-md-3 border form-control-sm">
                <input type="text" class="form-control"></input></div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Dealer Name/Dealer Number</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Technician Name(Print)</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border form-control">Technician Signature</div>
            <div class="col-md-8 border form-control">
                <input type="text" class="form-control"></input>
            </div>
        </div>
    </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>