<% include ./partials/header %>
    
    <div class="container">
        <h1 class="brand"><span>Waldorf</span> Web Design</h1>
            <div class="wrapper animated bounceInLeft">
                <div class="company-info">
                    <h3>Waldorf Web Design</h3>
                    <ul>
                        <li><i class="fa fa-road"></i> 1859 W Henderson Rd</li>
                        <li>Henderson, MI 48841</li>
                        <li><i class="fa fa-phone"></i>(989) 666-0919</li>
                        <li><i class="fa fa-envelope"></i>Zeeroh71@Gmail.com</li>    
                    </ul>                  
                </div>
                <div class="contact">
                    <h3>Log In Here</h3>
                    <form action="/login" method="POST">
                        <p>
                            <label>Name</label>
                            <input type="text" name="username" placeholder="username"></input>
                        </p>
                        <p>
                            <label>Password</label>
                            <input type="password" name="password" placeholder="password"></input>
                        </p>
                        <p class="full">
                            <button type="submit" class="btn">Login!</button>
                        </p>
                    </form>
                </div>
            </div>    
    </div>    

<% include ./partials/footer %>